:root {
  --contain: 0.5rem calc((100vw - 1200px - 0.5rem) / 2);
}

.backgroundImg {
  display: grid;
}
.textBox {
  display: grid;
  grid-area: 1/1;
  position: relative;

  background-image: linear-gradient(to top, #732f008a, 4rem, #0b12134d);
}

.heroContentslayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 10rem;
  padding: var(--contain);
  margin-top: 12vh;
}
.heroContentslayout > div > div > * {
  color: #dddddc;
}
.heroTopBox {
  display: flex;
}

.heroInformationSection {
  color: #dddddc;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--contain);
  text-align: center;
  padding-bottom: 4rem;
  text-shadow: 2px 2px 6px black;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textContainer > a {
  color: maroon;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
