.headerContainer {
  position: absolute;
  width: 90vw;
  z-index: 200;
  transition: all 1s;
}
.headerContainerCompact {
  position: fixed;
  width: 80vw;
  background-color: white;
  padding: 0 0.25rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.headerContainerCompact * {
  color: #555;
}
.headerContainerCompact > .headerTop > .additionalInfoBar {
  background-color: #ee6c4d;
  justify-content: center;
  font-weight: 500;
}

.headerTop {
  padding: 0.25rem 0;
  border-bottom: 1px solid #ddd;
}

.additionalInfoBar {
  padding: 0.25rem 0;
  display: flex;
  width: 100%;
  position: relative;
}
.additionalInfoBar > span {
  display: flex;
  font-size: small;
  align-items: center;
}
.additionalInfoBar > span > div {
  margin-right: 0.5rem;
}
.additionalInfoBar > span:not(:last-child) {
  margin-right: 1rem;
}
.additionalInfoBar > span > * {
  color: #98c1d9;
}

.headerBottom {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.navBlock {
  margin-top: 0;
  display: flex;
}
.navMobile {
  width: 100%;
  background: white;
  padding: 0 4rem;
  text-align: center;
  animation: openMenu 1s ease-out;
  border-bottom: 3px solid #ee6c4d;
  position: absolute;
  top: 7vh;
  left: 0;
}
.navMobile > a,
.navMobileClosed > a {
  margin: 1rem auto;
  padding: 1rem 2rem;
  color: #ee6c4d;
}
.navMobileClosed {
  width: 100%;
  background: white;
  padding: 0 4rem;
  opacity: 0;
  text-align: center;
  animation: closeMenu 1s ease-out;
  border-bottom: 3px solid #ee6c4d;
  position: absolute;
  top: 7vh;
  left: 0;
}

@keyframes openMenu {
  0% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-50vh);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .headerContainerCompact {
    width: 100vw;
  }
  .additionalInfoBar {
    justify-content: space-around;
  }
  .navBlock {
    display: none;
  }
}
@media (min-width: 768px) {
  .headerBottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
