.header {
  position: sticky;
  top: 0;
  z-index: 200;
  background: #eee;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - 1200px - 0.5rem) / 2);
  max-height: 9.5vh;
  min-height: 7.5vh;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
}
.navBlock {
  margin-top: 0;
  display: flex;
}
.navMobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7.5vh;
  width: 100%;
  background: white;
  padding: 0 4rem;
  height: 100vh;
  text-align: center;
  animation: openMenu 1s ease-out;
  border-bottom: 3px solid #ee6c4d;
  z-index: -1;
}
.navMobile > a,
.navMobileClosed > a {
  margin: 1rem auto;
  padding: 1rem 2rem;
}
.navMobileClosed {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -7.5vh;
  width: 100%;
  background: rgb(105, 104, 104);
  padding: 0 4rem;
  height: 0vh;
  opacity: 0;
  text-align: center;
  animation: closeMenu 1s ease-out;
  border-bottom: 3px solid #ee6c4d;
  z-index: 0;
}

@keyframes openMenu {
  0% {
    height: 0vh;
    opacity: 0;
  }
  100% {
    height: 100vh;
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    height: 100vh;
    top: 7.5vh;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    height: 0vh;
    top: -17.5vh;
    opacity: 0;
  }
}

@media (max-width: 750px) {
  .navBlock {
    display: none;
  }
}
